<!DOCTYPE html>
<html lang="en">
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Rosetta Chat</title>

  <!-- CSS  -->
<<<<<<< HEAD
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
=======
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="../js/main.js" type="text/javascript" charset="utf-8" async defer></script>

>>>>>>> master
<script>
  //letting client side js know what our user id is
  //this makes it vidible to the js running in the web page
    var userId = '';
    <$ if (user) { $>
      userId = '<$= user.id $>';
    <$ } $>
</script>


</head>

<body>


  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo center teal-text text-lighten-2">Rosetta Chat</a>
      <ul class="right hide-on-med-and-down">
      </ul>
      <ul class="right teal-text">
        <$ if (user) { $>
          <li><a href="/logout"><i class="material-icons teal-text left">trending_flat</i>Logout</a></li>
          <$ } else { $>
          <li><a href="/auth/google"><i class="material-icons teal-text left">vpn_key</i>Login with Google</a></li>
          <$ } $>
      </ul>

      <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>




  <div class="container">
    <div class="row">
      <div class="col-xs-6" id ="chatsesh1">
        <form id="form1" runat="server">
          <h1>Message 1</h1>
          <h2>Input</h2>
          <$ if (user) { $>
            <span>User Name: <$= user.name $></span>
          <$ } $>


          <select id="user1">
            <option value="en">English</option>
            <option value="es">Spanish</option>
          </select>
          <div>
            <input type="text" id="txtAjaxInput" value="you" />
            <input type="button" id="btnAjaxTranslate" value="Send" />
          </div>
          <h2>Output 1</h2>

        </form>
        <span id="txtAjaxOutput"> <!-- test me 1 --></span>
      </div>
      <div class="col-xs-6" id = "chatsesh2">
        <form id="form2" runat="server">
          <h1>Message 2</h1>
          <h2>Input</h2>
          <select id="user2" style="display:inline;">
            <option value="en">English</option>
            <option value="es">Spanish</option>
          </select>

          <div>
          <input type="text" id="txtAjaxInput2" value="you" />
            <input type="button" id="btnAjaxTranslate2" value="Send" />
          </div>
          <h2>Output 2</h2>

        </form>
        <span id="txtAjaxOutput2"> <!-- testme 2 --></span>
      </div>
    </div>
  </div>
 <script>
    var userId = '';
    <$ if (user) { $>
      userId = '<$= user.id $>';
    <$ } $>
  </script>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js">
  <script src="js/materialize.js"></script>

  <script src="../js/materialize.js" type="text/javascript" charset="utf-8" async defer></script>

  <script src="/socket.io/socket.io.js"></script>



  <script>
  jQuery(function($){
    var socket = io.connect();
  $('#btnAjaxTranslate').click(function(e){

    socket.emit('wasClicked', $('#txtAjaxInput').val(), function(data){
      $chat.append('<span class="error">' + data +"runs line 124 index" +"</span><br/>");
    });

  });

        $('#btnAjaxTranslate').click(function (evt) {
        var inputText = $('#txtAjaxInput').val();
        user1txt = $('#txtAjaxInput').val();
        var token="http%3a%2f%2fschemas.xmlsoap.org%2fws%2f2005%2f05%2fidentity%2fclaims%2fnameidentifier=9WdP3&http%3a%2f%2fschemas.microsoft.com%2faccesscontrolservice%2f2010%2f07%2fclaims%2fidentityprovider=https%3a%2f%2fdatamarket.accesscontrol.windows.net%2f&Audience=http%3a%2f%2fapi.microsofttranslator.com&ExpiresOn=1462389629&Issuer=https%3a%2f%2fdatamarket.accesscontrol.windows.net%2f&HMACSHA256=PHJKotrs%2b%2bEfJ2cHUWBDQHKWbPv%2b3n0183X9DFXbklY%3d";
        var authToken =token;
        var data = {
          appId: 'Bearer ' + authToken,
          from: $("#user1").val(),
          to: $("#user2").val(),
          contentType: 'text/plain',
          text: inputText
        };
        $.ajax({
          url: "http://api.microsofttranslator.com/V2/Ajax.svc/Translate",
          dataType: 'jsonp',
          data: data,
          jsonp: 'oncomplete'
        })
        .done(function (jqXHR, textStatus, errorThrown) {
          console.log('done', this, jqXHR, textStatus, errorThrown);
          console.log(jqXHR);
          $('#txtAjaxOutput').append($('#txtAjaxInput').val()+'<br>');
          $('#txtAjaxOutput2').append("<div>"+(jqXHR)+"</div>");
        })
        .fail(function (jqXHR, textStatus, errorThrown) {
          console.log('fail', this, jqXHR, textStatus, errorThrown);
        });
      });
  socket.on('back2Front',function(data){
    console.log(data);
    console.log("Im front and got response from the back");
  })
});


  </script>
</body>
</html>

