<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Rosetta Chat</title>

  <!-- CSS  -->
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="../js/main.js" type="text/javascript" charset="utf-8" async defer></script>
<script>
  //letting client side js know what our user id is
  //this makes it vidible to the js running in the web page
    var userId = '';
    <$ if (user) { $>
      userId = '<$= user.id $>';
    <$ } $>
</script>
</head>
<body>

  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo center teal-text text-lighten-2">Rosetta Chat</a>
      <ul class="right hide-on-med-and-down">
      </ul>
      <ul class="right teal-text">
        <$ if (user) { $>
          <li><a href="/logout"><i class="material-icons teal-text left">trending_flat</i>Logout</a></li>
          <$ } else { $>
          <li><a href="/auth/google"><i class="material-icons teal-text left">vpn_key</i>Login with Google</a></li>
          <$ } $>
      </ul>

      <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>


  <div class="slider">
    <ul class="slides">
      <li>
        <img src="http://static.techspot.com/articles-info/776/images/messaging-clients-comparison.jpg">
        <div class="caption center-align">
          <h3></h3>

        </div>
      </li>
      <li>
        <img src="http://i.imgur.com/5tiTOCb.png">
        <div class="caption left-align">
          <h3></h3>
          <h5 class="light teal-text text-lighten-3">Choose from select languages.</h5>
        </div>
      </li>
      <li>
        <img src="http://i.imgur.com/851saEv.jpg">
        <div class="caption teal-text center-align">
          <h3>Message Internationally!</h3>
          <h5 class="light red-text text-lighten-3">Get in contact with family and friends around the world.</h5>
        </div>
      </li>
      <li>
        <img src="http://www190.lunapic.com/do-not-link-here-use-hosting-instead/146162017692403?4753649477" >
        <div class="caption right-align">
          <h3>Get The Mobile App!</h3>
          <h5 class="light grey-text text-lighten-3">Coming Soon</h5>
        </div>
      </li>
    </ul>
  </div>


  <div class="section no-pad-bot">
      <div class="container">
        <br><br>

        <div class="row center">
          <h5 class="header col s12 light">Don’t let language barriers hold you back. Rosetta Chat is an innovative messaging app...</h5>
        </div>
        <div class="row center">
          <a href="" class="btn-large waves-effect waves-light teal lighten-1">Get The App</a>
        </div>
        <br><br>

      </div>
    </div>


<footer class="page-footer grey">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of young web developers working on this project like it's our full time job.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by Angie, Andrew, Arvin and Martin
      </div>
    </div>
  </footer>

   <script>
    var userId = '';
    <$ if (user) { $>
      userId = '<$= user.id $>';
    <$ } $>
  </script>

 <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
<script>
 $(document).ready(function(){
      $('.slider').slider({full_width: true});
    });
</script>
  <script>
// Pause slider
$('.slider').slider('pause');
// Start slider
$('.slider').slider('start');
// Next slide
$('.slider').slider('next');
// Previous slide
$('.slider').slider('prev');
</script>
</body>
</html>
