<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Rosetta Chat</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="../js/main.js" type="text/javascript" charset="utf-8" async defer></script>
<script>
  //letting client side js know what our user id is
  //this makes it vidible to the js running in the web page
    var userId = '';
    <$ if (user) { $>
      userId = '<$= user.id $>';
    <$ } $>
</script>
</head>
<body>

  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo center teal-text text-lighten-2">Rosetta Chat</a>
      <ul class="right hide-on-med-and-down">
      </ul>
      <ul class="right teal-text">
        <$ if (user) { $>
          <li><a href="/logout"><i class="material-icons teal-text left">trending_flat</i>Logout</a></li>
          <$ } else { $>
          <li><a href="/auth/google"><i class="material-icons teal-text left">vpn_key</i>Login with Google</a></li>
          <$ } $>
      </ul>

      <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="http://static.techspot.com/articles-info/776/images/messaging-clients-comparison.jpg" alt="Unsplashed background img 1" style="display: block; transform: translate3d(-50%, 62px, 0px);"></div>
  </div>

  <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Rosetta Chat</h1>
        <div class="row center">
          <h5 class="header col s12 light">A innovative messaging app...</h5>
        </div>
        <div class="row center">
          <a href="" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>


<footer class="page-footer grey">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by Angie, Andrew, Arvin and Martin
      </div>
    </div>
  </footer>

   <script>
    var userId = '';
    <$ if (user) { $>
      userId = '<$= user.id $>';
    <$ } $>
  </script>

 <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

</body>
</html>
